<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mercado Liebre</title>
</head>
<body>
    <img src="/static/images/logo-mercado-liebre.svg" alt="aquí va el logo" width="10%">
    <input type="search" name="Qúe estás buscando?">
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
            <li><a href="#">ofertas</a></li>
            <li><a href="#">tiendas oficiales</a></li>
            <li><a href="#">vender</a></li>
            <li><a href="#">ayuda</a></li>
        </ul>
        <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
        </ul>
    </nav>
    <header></header>
    <main>
        <section><strong>Basado en tu última visita</strong></section>
        <img src="/static/images/img-cafetera-moulinex.jpg" alt="cafetera" width="20%">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p><strong>Cafetera Moulinex</strong></p>

        <img src="/static/images/img-macbook-pro-2019.jpg" alt="MacBook" width="20%">
        <p>$230.000</p>
        <p>20% OFF</p>
        <p><strong>MacBook pro 2019</strong></p>

        <img src="/static/images/img-samsung-galaxy-s10.jpg" alt="Samsung" width="20%">
        <p>$70.500</p>
        <p>10% OFF</p>
        <p><strong>Samsung Galaxy S10</strong></p>

        <img src="/static/images/img-tv-samsung-smart.jpg" alt="tv Samsung" width="20%">
        <p>$23.200</p>
        <p>5% OFF</p>
        <p><strong>SmartTv Samsung 43"</strong></p>
        
        <section><strong>Sección ofertas</strong></section>
        <img src="/static/images/img-cafetera-moulinex.jpg" alt="cafetera" width="20%">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p><strong>Cafetera Moulinex</strong></p>

        <img src="/static/images/img-macbook-pro-2019.jpg" alt="MacBook" width="20%">
        <p>$230.000</p>
        <p>20% OFF</p>
        <p><strong>MacBook pro 2019</strong></p>

        <img src="/static/images/img-samsung-galaxy-s10.jpg" alt="Samsung" width="20%">
        <p>$70.500</p>
        <p>10% OFF</p>
        <p><strong>Samsung Galaxy S10</strong></p>

        <img src="/static/images/img-tv-samsung-smart.jpg" alt="tv Samsung" width="20%">
        <p>$23.200</p>
        <p>5% OFF</p>
        <p><strong>SmartTv Samsung 43"</strong></p>
    </main>
    <footer>
        <section><strong>Pagá con tarjeta o en efectivo</strong></section>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        <section><strong>Envío gratis desde $ 2.500</strong></section>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <section><strong>Seguridad, de principio a fin</strong></section>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <section><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></section>

    </footer>
    
</body>
</html>