<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beni Roberts</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>
<body class="cuerpo-de-la-web">
    <h1>Esta es la página de <span style="color: lightsalmon">Venta</span></h1>
    
   <a href="https://marshall.com/" target="_blank"><img class="boton" src="/public/img/frigobar.jpg" alt="Acá debería haber una foto"></a>
   <a href="https://www.gibson.com/Guitars/Collection/Original" target="_blank"><img class="boton" src="/public/img/fondoGuitarra.jpg" alt="Acá debería haber una foto"></a>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nihil deleniti doloribus dolor ipsa, ab quos tempore rem deserunt expedita, nemo hic nam voluptatibus neque eos esse laboriosam repellat magni.</p>
</body>
</html>